body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    
    background-color: #222;
}

/* header */

#header {
    width: 100%;
    text-align: center;
    margin-top: 10%;
}

#header h1 {
    font-family: 'Cutive Mono', monospace;
    color: white;
    font-size: 4vw;
}

#header a {
    text-decoration: none;
}

#header h2 {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 2vw;
    margin-top: -20px;
}

#header span {
    font-size: 3vw;
}

/* intro */

#intro {
    width: 100%;
}

#clear {
    clear: both;
}

#text1 {
    width: 75%;
    
    background-color: #343434;
    color: white;
    font-size: 17px;
    
    padding: 20px;
    margin-bottom: 50px;
    margin-top: 100px;
}

.slide-in-left {
	-webkit-animation: slide-in-left 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-left 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#text2 {    
    width: 75%;
    background-color: #343434;
    color: white;
    font-size: 17px;
    padding: 20px;
    
}

.slide-in-right {
	-webkit-animation: slide-in-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* hackathons */

#hackathons {
    margin-top: 100px;
    width: 100%;
}

#hackathons h1 {
    font-family: 'Major Mono Display', sans-serif;
    font-size: 30px;
    
    color: white;
}

#hackathons h3 {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    
    margin-bottom: 30px;
}

#row1, #row2 {
    width: 55%;
}

#hackathons img {
    transition: .3s;
    
    -webkit-box-shadow: 0;
    -moz-box-shadow: 0;
    box-shadow: 0;
    
    background-color: white;
    padding: 30px;
    margin-top: 30px;
    
    width: 130px;
    height: 130px;
}

#hackathons img:hover {
    transition: .3s;
    
    -webkit-box-shadow: 0px 0px 15px 12px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 12px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 12px rgba(0,0,0,0.75);
}

/* projects */

h4 {
    font-size: 30px;
    font-family: 'Cutive Mono', monospace;
    color: white;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 70px;
}

.cont {
    width: 85%;
    margin: auto;
    margin-bottom: 100px;
}

.shadow1 img{
    transition: .5s;
    
    -webkit-box-shadow: 0;
    -moz-box-shadow: 0;
    box-shadow: 0;
    
    width: 100%;
    
    margin-top: 1%;
}

.shadow1 img:hover {
    transition: .5s;
    
    -webkit-box-shadow: -12px 12px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -12px 12px 0px 0px rgba(0,0,0,0.75);
    box-shadow: -12px 12px 0px 0px rgba(0,0,0,0.75);
}

.shadow2 img{
    transition: .5s;
    
    -webkit-box-shadow: 0;
    -moz-box-shadow: 0;
    box-shadow: 0;
    
    width: 100%;
    
    margin-top: 1%;
}

.shadow2 img:hover {
    transition: .5s;
    
    -webkit-box-shadow: 12px 12px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 12px 12px 0px 0px rgba(0,0,0,0.75);
    box-shadow: 12px 12px 0px 0px rgba(0,0,0,0.75);
}

#reach {
    background-color: white;
    padding: 0 20px;
}

.info1 p {
    font-size: 1.1vw;
    color: white;
    font-family: 'Raleway', sans-serif;
}


.top {
    margin-bottom: 10px;
}

.tools {
    text-align: right;
}

.tools p {
    color: white;
    font-family: 'Cutive Mono', monospace;
    font-size: 1.3vw;
    margin-bottom: 1px;
}

.tools i {
    font-size: 14px;
}

.tools a {
    text-decoration: none;
}

.tools span {
    transition: .3s;
    
    opacity: .8;
    
    color: white;
    font-family: 'Raleway', sans-serif;
    
    display: inline-block;
    padding: 2px;
    margin-bottom: 7px;
    margin-left: 1px;
    font-size: 1.2vw;
    
}

.tools span:hover {
    transition: .3s;
    
    opacity: 1;
}

.hack img {
    transition: .3s;
    
    width: 5vw;
    opacity: .8;
}

.hack img:hover {
    transition: .3s;
    
    opacity: 1;
}

.hack p {
    font-family: 'Major Mono Display', sans-serif !important;
    font-size: 1.2vw;
    color: white;
    margin-bottom: 0;
}

#reach {
    background-color: white;
    padding: 0 20px;
}

#bigred {
    width: 90px;
    margin-bottom: -20px;
}

#tools1 span {
    background: linear-gradient(to right, rgba(11,129,155,1) 0%, rgba(0,169,158,1) 100%);
}

#tools2 span {
    background: linear-gradient(to right, #672E55 0%, #DE375F 100%);
}

#tools3 span {
    background: linear-gradient(to right, #091933 0%, #0ABBC3 100%);
}

#tools4 span {
    background: linear-gradient(to right, #FF4445 0%, #FFAF40 100%);
}

#tools5 span {
    background: linear-gradient(to right, #7A7A7A 0%, #BFC0C1 100%);
}



/* dashes */


#dash1 {
    z-index: -500 !important;
    
    position: relative;
    left: 20%;
    top: -200px;
    margin-bottom: -300px;
    
    height: 30vw;
    width: 2px;
    
    border-left: 0.8vw dashed #007B98;
}

#dash2 {
    z-index: -500 !important;
    
    position: relative;
    top: -50px;
    left: -5px;
    
    height: 20px;
    width: 900px;
    
    border-bottom: 0.8vw dashed #007B98;
}

#dash3 {
    z-index: -500 !important;
    
    position: relative;
    left: 40%;
    top: -200px;
    margin-bottom: -400px;
    
    height: 30vw;
    width: 2px;
    
    border-left: 0.8vw dashed #007B98;
}

#dash4 {
    z-index: -500 !important;
    
    position: relative;
    top: 120px;
    
    height: 20px;
    width: 400px;
    
    border-bottom: 0.8vw dashed #007B98;
}

#dash5 {
    transform: rotate(135deg);
    
    z-index: -500 !important;
    
    position: relative;
    left: 1050px;
    top: -100px;
    margin-bottom: -10px;
    
    height: 20px;
    width: 400px;
    
    border-bottom: 0.8vw dashed #007B98;
}

.fade-in {
	-webkit-animation: fade-in 5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in 5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* keyframes */


@-webkit-keyframes fade-in {
  0%, 20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0%, 20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

